<p id="notice"><%= notice %></p>

<p>
  <strong>Specialist:</strong>
  <%= @appointment.specialist.name %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient.name %>
</p>

<p>
  <strong>Complaint:</strong>
  <%= @appointment.complaint %>
</p>

<p>
  <strong>Appointment date:</strong>
  <%= @appointment.appointment_date %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
