<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @patient.street_address %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= Insurance.find(@patient.insurance_id).name %>
</p>

<p>
  <% @patient.appointments.each do |appointment| %>
  <strong>Appointment with: </strong>
  <%= appointment.specialist.name %>
  <br/>
  <strong>On: </strong>
  <%= appointment.appointment_date %>
  <br/><br/>
  <% end %>

</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
