<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specialist.name %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @specialist.specialty %>
</p>
<p>
<% @specialist.appointments.each do |appointment| %>
    <strong>Appointment with:</strong>
<%= appointment.patient.name %>
    <br/>
    <strong>On: </strong>
<%= appointment.appointment_date %>
    <br/>
    <strong>In: </strong>
<%= (appointment.appointment_date - Date.today).to_i %> more days<br/><br/>
<% end %>
</p>
<%= link_to 'Edit', edit_specialist_path(@specialist) %> |
<%= link_to 'Back', specialists_path %>
